body {
  font-family: -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, Ubuntu;
}

footer {
  font-size: 9pt;
  font-family: 'SF Mono', SFMono-Regular, ui-monospace,
    'DejaVu Sans Mono', Menlo, Consolas, monospace;
}


ul {
  list-style: none;
  font-size: 10pt;
  max-width: 500pt;
}

a {
    text-decoration: underline;
    text-decoration-color: #007aff;
    color: #101010;
}

a:hover {
    text-decoration: underline;
    text-decoration-color: #007aff;
    color: #007aff;
}

header a { color: #101010; }
header a:hover { color: #101010; }
header a:link { text-decoration: none; }
footer {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #101010;
  text-align: right;
}

.About { display: flex; }
.Contact { width: 150pt; text-align: center; flex: 300pt;}
.Contact img { width: 100pt; border-radius: 50%; }
.Contact h1 { font-size: 14pt; margin-bottom: -10pt; }
.Contact h2 { font-size: 12pt; margin-bottom: -10pt; }
.Contact ul { padding-left: 0; }
.Publications h1 { font-size: 14pt; }
.Publications li:first-child { font-weight: bold; }

/*
@media (prefers-color-scheme: dark) {
  body {
      background-color: #101010;
    color: #ffffff;
  }
  a {
    text-decoration: underline;
    text-decoration-color: #0078b5;
    color:  #ffffff;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: #0078b5;
    color:#0078b5;
  }
  header a {
    color: #ffffff;
  }
  header a:hover {
  color: #ffffff;
}
}
 */

